<p><%= @food_presenter.count %> results</p>
<%  @food_presenter.foods.each do |food| %>
<section class='food-item'>
  <p><%= food.name %></p>
  <p><%= food.manufacturer %></p>
  <p><%= food.ndb %></p>
  <p><%= food.group %></p>
  <p><%= food.data_source %></p>
</section>

<% end %>
